<!DOCTYPE html>
<html lang="en">
<!-- Partial berprinsip seperti komponen tapi dengan HTML -->
<%- include('./partials/head.ejs') %> 
<body>
    <!-- Partial berprinsip seperti komponen tapi dengan HTML -->
    <%- include('./partials/nav.ejs') %> 
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, consequatur? Corrupti voluptas, quidem velit magni quos deleniti, necessitatibus veritatis quibusdam explicabo optio error. Odio impedit nulla, officia blanditiis vel tenetur.</p>
        <p>Dignissimos, enim. Omnis quidem dicta ea quis modi ut laudantium ipsa, sapiente aliquam voluptatum facilis vitae dolore, id, aut maxime sequi animi qui labore hic esse soluta ipsam odit? Enim.</p>
        <p>Esse, possimus omnis? Harum esse fugit vitae! Ipsum minus rerum aliquam at quia debitis sed, pariatur eum doloribus, laborum quisquam fugit labore commodi, in doloremque autem earum dolorem magni. Perferendis?</p>
    </div>
    <!-- Partial berprinsip seperti komponen tapi dengan HTML -->
    <%- include('./partials/footer.ejs') %> 
</body>
</html>